<section id="about" class="about-section">
  <div class="about-container">

    <div class="about-header">
      <h2>¿Por Qué Elegirnos?</h2>
      <p>Somos más que un PetShop, somos una familia que ama a los animales.</p>
    </div>

    <div class="about-features">

      <!-- Feature 1 -->
      <div class="feature-card">
        <i class="fa-solid fa-heart feature-icon"></i>
        <h3>Con Amor</h3>
        <p>Lo mejor para cada mascota como si fuera nuestra.</p>
      </div>

      <!-- Feature 2 -->
      <div class="feature-card">
        <i class="fa-solid fa-shield-dog feature-icon"></i>
        <h3>Confianza</h3>
        <p>4+ años ayudando en el cuidado de tu mascota.</p>
      </div>

      <!-- Feature 3 -->
      <div class="feature-card">
        <i class="fa-solid fa-award feature-icon"></i>
        <h3>Conocimiento</h3>
        <p>Sabemos como guiar a las personas que estan empezando.</p>
      </div>

      <!-- Feature 4 -->
      <div class="feature-card">
        <i class="fa-solid fa-clock feature-icon"></i>
        <h3>Disponibilidad</h3>
        <p>Atención 7 días a la semana.
                8:00AM - 21:00PM
        </p>
       
      </div>

    </div>

    <div class="about-description">
      <p>
        En <span class="brand">MimirPetShop</span>, nos especializamos en ofrecer todo lo que tu perro necesita para vivir feliz y saludable.
Desde alimentos de alta calidad hasta accesorios únicos y funcionales, tenemos una gran variedad de productos pensados para cada etapa de su vida.
Nuestro compromiso es brindar la mejor atención, asesorarte en tus compras y garantizar que encuentres siempre lo mejor para tu fiel compañero.
      </p>
    </div>
  </div>
</section>