.admin-container {
  max-width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: #e1f5fe;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px #0288d133;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #0288d1;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #0288d1;
  border: none;
  color: white;
  border-radius: 10px;
  transition: .2s;
}

button:hover {
  background: #01579b;
}

.error {
  color: red;
  margin-top: 10px;
}
