 <div class="about-header">
      <h2>Lo Más Popular Del Momento!</h2>
      <p>Conoce las nuevas tendencias que estan rompiendo el mercado.</p>
    </div>
  <div id="carouselProducts" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <!-- ITEM 1 -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card product-card">
                <img src="/assets/camaP.png" class="card-img-top" alt="Cama Perro" />
                <div class="card-body">
                  <h5 class="card-title">Cama para perros</h5>
                  <p class="card-text text-secondary">
                    Tu mejor amigo tambien necesita comodidad.
                  </p>
                  <a href="#" class="btn btn-primary w-100">Ver Producto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ITEM 2 -->
      <div class="carousel-item">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card product-card">
                <img src="/assets/rascadorG.png" class="card-img-top" alt="Rascador Gato" />
                <div class="card-body">
                  <h5 class="card-title">Rascador de Gatos</h5>
                  <p class="card-text text-secondary">
                    Ayuda el estres de tu felino favorito.
                  </p>
                  <a href="#" class="btn btn-primary w-100">Ver Producto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ITEM 3 -->
     <div class="carousel-item active">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card product-card">
                <img src="/assets/jaulaH.png" class="card-img-top" alt="Jaula Hamster" />
                <div class="card-body">
                  <h5 class="card-title">Jaula para Hamsters</h5>
                  <p class="card-text text-secondary">
                    Un espacio comodo para tu pequeña mascota.
                  </p>
                  <a href="#" class="btn btn-primary w-100">Ver Producto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- CONTROLES -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselProducts" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>